<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>欢迎使用源码网站大淘客CMS</small></div>
</div>


<div class="am-margin">
    <div class="am-article-lead am-margin-vertical-xs am-margin-bottom">
        <span class="am-text-primary am-text-xxl">
<span class="am-icon-trophy" style="margin-left:-2px;"></span> &nbsp;“ 某一天，当你明白‘淘客’ = ‘勤奋’ 的时候，你就会成为大牛、、、” &nbsp;&nbsp;&nbsp; <small>--- 所有大牛的最终领悟</small>

        </span>
    </div>
</div>

<div class="am-margin">
    <div class="am-article-lead am-margin-vertical-xs am-margin-bottom-sm" style="background: #FFFFFF;">
        <strong class="am-text-danger"><i class="am-icon-bullhorn" style="margin-left:-2px;"></i> 欢迎使用源码网站大淘客CMS系统。您的使用是这套系统前进的动力，欢迎淘客朋友在使用过程中提出宝贵建议，不断完善这套系统，让她会越发强大！</strong>
        <br>
        <strong> <i class="am-icon-qq am-icon-fw"></i> 源码网站大淘客CMS交流群： <a href="https://jq.qq.com/?_wv=1027&k=4AaBMUU" target="_blank ">67809360</a>
          </strong>
    </div>
</div>
<div class="am-margin">
    <div class="am-u-md-6 am-padding-0">


        <div class="am-u-md-12 am-padding-0 am-margin-top-sm">
            <div class="am-panel am-panel-default am-margin-vertical-xs am-margin-right">
                <div class="am-panel-hd">安装向导</div>
                <div class="am-panel-bd">

                    <i class="am-icon-cog am-icon-fw"></i> 1.配置参数：<a href="?v=setting/index "> 点击设置</a><br>
                    <i class="am-icon-bolt am-icon-fw"></i> 2.急速安装： <a target="_blank " href="../install.php "> 点击安装</a><br>
                    <i class="am-icon-home am-icon-fw"></i> 3.访问首页： <a target="_blank " href="../../index.php?r=index/wap "> 点击访问</a><br>

                    <span class="am-badge am-badge-success ">教程</span> 源码网站大淘客CMS安装文档： <a href="http://bbs.236410.com">查看</a> <br>


                </div>
            </div>
        </div>

    </div>
    <div class="am-u-md-6 am-padding-0 ">

        <div class="am-u-md-12 am-padding-0 ">
            <div class="am-panel am-margin am-margin-left-0 am-panel-default ">
                <div class="am-panel-hd am-cf " data-am-collapse="{target: '#collapse-panel-0'} ">开通激活<span class="am-icon-chevron-down am-fr "></span></div>
                <div id="collapse-panel-0 " class="am-panel-bd am-collapse am-in ">
                    <i class="am-icon-qq am-icon-fw"></i> 源码网站大淘客CMS交流群： <a href="https://jq.qq.com/?_wv=1027&k=4AaBMUU " target="_blank ">67809360</a>


                </div>
            </div>


        </div>


    </div>




</div>