<style>
    .detail-nav-btn-home {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 500
    }
    
    .detail-nav-btn-share {
        position: fixed;
        top: 70px;
        right: 10px;
        z-index: 500
    }
    
    .detail-nav-btn-return {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 500
    }
    
    .detail-nav-btn-service {
        position: fixed;
        top: 70px;
        right: 10px;
        z-index: 500
    }
    
    .detail-wrapper .img {
        width: 100%;
        height: 100%;
    }
    
    .main-title {
        display: none;
    }
</style>
<!--float button BEGIN-->
<a href="javascript:void(0);" onclick="history.go(-1);" class="detail-nav-btn-return">
    <img src="./kele/assets/images/return.png" style="width:50px">
</a>
<a href="index.php?r=index/wap" class="detail-nav-btn-home">
    <img src="./kele/assets/images/rehome.png" style="width:50px">
</a>
<a href="index.php?r=index/customService" class="detail-nav-btn-service">
    <img src="./kele/assets/images/service.png" style="width:50px">
</a>

<!--&lt;!&ndash; JiaThis Button BEGIN &ndash;&gt;-->
<!--<div class="jiathis_style">-->
<!--<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt detail-nav-btn-share" target="_blank"><img src="./kele/assets/images/share.png" border="0" style="width:35px" /></a>-->
<!--<a class="jiathis_counter_style_margin:3px 0 0 2px"></a>-->
<!--</div>-->
<!--<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>-->
<!--&lt;!&ndash; JiaThis Button END &ndash;&gt;-->

<!--float button END-->