<style>
    .category {
        height: auto;
        background-color: #fff;
        overflow: hidden;
        border-bottom: 1px solid #e5e5e5;
        padding: 10px;
        padding-top: 0px;
    }
    
    .category li {
        width: 20%;
        float: left;
        margin: 5px 0;
    }
    
    .category li span {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
    
    .category li span img {
        width: 40px;
        height: 40px;
    }
    
    .category li strong {
        font-weight: 400;
        display: block;
        text-align: center;
        padding-top: 5px;
        font-size: 12px;
    }
    
    .category li a {
        color: black;
    }
</style>
<ul class="category">

    <li><a href="index.php?r=index/cat&cid=1"><span><img src="kele/assets/images/cat/1.png" alt="女装"></span><strong>女装</strong></a></li>
    <li><a href="index.php?r=index/cat&cid=9"><span><img src="kele/assets/images/cat/2.png" alt="男装"></span><strong>男装</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=10"><span><img src="kele/assets/images/cat/4.png" alt="内衣"></span><strong>内衣</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=2"><span><img src="kele/assets/images/cat/5.png" alt="母婴"></span><strong>母婴</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=3"><span><img src="kele/assets/images/cat/6.png" alt="化妆品"></span><strong>化妆品</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=4"><span><img src="kele/assets/images/cat/7.png" alt="居家"></span><strong>居家</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=5"><span><img src="kele/assets/images/cat/3.png" alt="鞋包配饰"></span><strong>鞋包配饰</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=6"><span><img src="kele/assets/images/cat/8.png" alt="美食"></span><strong>美食</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=7"><span><img src="kele/assets/images/cat/9.png" alt="文体车品"></span><strong>文体车品</strong></a>
    </li>
    <li><a href="index.php?r=index/cat&cid=8"><span><img src="kele/assets/images/cat/10.png" alt="数码家电"></span><strong>数码家电</strong></a>
    </li>

</ul>