<link rel="stylesheet" href="hunki/assets/css/amazeui.css" />
<link rel="stylesheet" href="hunki/assets/css/hunki.css?v=2017022512" /><SCRIPT Language=VBScript><!--

//--></SCRIPT>
<style>.footer{position:fixed;bottom:0;z-index:99999999999999;border-top:1px solid #eee;padding:6px 0;background:#fff;width:100%}.footer ul{text-align:center;padding:0;margin:0 auto}.footer ul li{font-size:12px;float:left;width:20%}.footer ul li a{color:#444}.footer ul li img{width:30px}.footer ul li span{display:block}</style>
<div class="footer">
    <ul>
        <li><a href="index.php?r=index/wap"><img src="/images/new.png"><span>新品上架</span></a></li>
        <li><a href="index.php?r=index/9"><img src="/images/9kuai.png"><span>九块九</span></a></li>
        <li><a href="index.php?r=ddq/wap"><img src="/images/ddq.gif"><span>咚咚抢</span></a></li>
        <li><a href="index.php?r=p/wap"><img src="/images/renqi.png"><span>超人气榜</span></a></li>
		 <li><a href="/index.php?r=index%2Fclassify"><img src="/images/so.png"><span>我要搜索</span></a></li>
        
    </ul>
</div>